@import url("https://fonts.googleapis.com/css2?family=Acme&family=Amatic+SC:wght@400;700&family=DynaPuff:wght@400;500&display=swap");

html {
  font-family: "Acme", sans-serif;
  font-family: "Amatic SC", cursive;
  font-family: "DynaPuff", cursive;
}

body {
  position: relative;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

h2 {
  width: 80%;
  max-width: 2500px;
  border-radius: 5px;
  font-size: 2.5rem;
  color: white;
  text-align: center;
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}
