@import url("https://fonts.googleapis.com/css2?family=Acme&family=Amatic+SC:wght@400;700&family=DynaPuff:wght@400;500&display=swap");

html {
  font-family: "Acme", sans-serif;
  font-family: "Amatic SC", cursive;
  font-family: "DynaPuff", cursive;
}


body {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:10px;
}

h2 {
  width: 100%;
  max-width: 1500px;
  border-radius: 5px;
  font-size: 3rem;
  color: white;
  text-align: center;
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}





@media only screen and (max-width: 1000px) {
  .container_webserver {
    flex-direction: column;
    width: 90%;
  }

  .container_webserver_info {
    width: 90%;
    padding-top: 50px;
  }
} */
